player-connection-mode=Listen
player-connection-guid=682368638
player-connection-debug=0
player-connection-project-name=Reflex Aim Trainer
player-connection-ip=152.66.182.137
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=1
gc-max-time-slice=3
single-instance=
build-guid=ae4f177a88234dd194c32da464d67e00
